@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Codystar', cursive!important;
  }
  body{
    align-items: center;
    /*min-height: 100vh;*/
    background-color: #050506!important;
    color: #654596;
  }
  ::selection{
    color: #fff;
    background: #654596;
  }